/* MY CSS CODE */


.blue-bg{
    background-color: #1b72e8;
}

.img-fluid{
    height: 50px;
    width: 50px;
}

header{
    height: 70px;
    padding: 0.5rem 0;
    background-color: #f8f9fa;
}

main{
    width: calc(100% - 100px);
    height: calc(100vh - 70px);
}

.main-icons{
    list-style: none;
}


aside{
    width: 100px;
    height: 100vh;
    background-color: #051e34;
    background-image: url(../img/sidebar-bg.png);
}

.dark-blue-btn-bg{
    background-color: #165bba;
}


/* Soluzioni Responsive */