/* MY CSS CODE */


.blue-bg{
    background-color: #1b72e8;
}

.img-fluid{
    height: 50px;
    width: 50px;
}

.mobile-logo{
    height: 50px;
    width: 50px;
    margin-right: 1rem;
}


.full-logo{
    width: 120px;
    height: 45px;
}

header{
    height: 70px;
    padding: 0.5rem 0;
    background-color: #f8f9fa;
}

form{
    background-color: white;
}

.form-control{
    background-color: #e5e5e5;
}

.main-wrapper{
    width: calc(100% - 75px);
    height: calc(100vh - 70px);
}

header input.form-control input{
    position: relative;
}

.main-icons{
    list-style: none;
}

.main-icons li{
    padding: .45rem;
}

.main-icons li a{
    text-decoration: none;
    color: white;
    vertical-align: middle;
}

.main-icons li:hover{
    background-color: rgba(255, 255, 255, 0.5);
    transition: 0.5s;
}

.offcanvas{
    width: 100% !important;
}


.Azioni{
    position: relative;
    left: 15px;
}



.form-control::placeholder{
    content: "ff";
}

.class-avatar{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.classe-75{
    width: 130px;
    padding-right: 4rem !important;
}

.first-row-table{
    background-color: #ececec;
}

.min-width{
    min-width: 100px;
}

.text-grey{
    color: #5b5858;
}

.upper-main{
    height: 240px;
}

.cards-wrapper{
    overflow-y: scroll;
    height: calc(100vh - 310px);
}

aside{
    width: 75px;
    height: calc(100vh - 70px);
    background-color: #051e34;
    background-image: url(../img/sidebar-bg.png);
}

.dark-blue-btn-bg{
    background-color: #165bba;
}

.chevron{
    width: 20px;
}

.width-10{
    width: 10%;
}

.border-stats{
    border: 1px solid #e8e8e8;
    padding: 1rem;
    border-radius: 0.5rem;
}

/* Soluzioni Responsive */



@media screen and (min-width:768px) {
    .upper-main{
        height: 120px;
    }
    .cards-wrapper{
        height: calc(100vh - 190px);
    }
    table{
        font-size: 0.85rem;
    }
    .classe-75{
        width: 420px;
    }
}


@media screen and (min-width:992px) {
    aside{
        width: 150px;
    }
    .fa-gear{
        font-size: 1rem;
    }
    .main-icons{
        padding-left: 1rem !important;
    }
    .offcanvas{
        width: 50% !important;
    }
    .upper-main{
        font-size: 0.75rem;
    }
    .classe-75{
        width: 520px;
    }
    table{
        font-size: 0.7rem;
    }
    thead{
        color: #5b5858;
    }
    .first-row-table{
        background-color: white;
    }
}