/* MY CSS CODE */


.blue-bg{
    background-color: #1b72e8;
}

.img-fluid{
    height: 50px;
    width: 50px;
}

main{
    width: calc(100% - 100px);
    height: 100vh;
}

.main-icons{
    list-style: none;
}

aside{
    width: 100px;
    height: 100vh;
    background-color: #051e34;
    background-image: url(../img/sidebar-bg.png);
}

.dark-blue-btn-bg{
    background-color: #165bba;
}


/* Soluzioni Responsive */